*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #f08923;
    --second-color: #7a7a7a;
    --background-color: #ffffff;
    --text-color: #ffffff;
    --text-color-2: #54595F;
    --text-color-3: black;
}
body {
    background-color: var(--background-color);
    font-family: 'Helvetica', sans-serif;
}
html, body {
    overflow: hidden;
}
h2 {
    margin: 1rem auto;
    text-align: center;
    color: var(--second-color);
}
#viewer-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.toolbar {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap
}
.button {
    background-color: var(--background-color);
    text-decoration: none;
    border: 1px solid var(--second-color);
    color: var(--text-color-2);
    margin: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.button:hover {
    background-color: var(--main-color);
    border-radius: 1px;
    transform: translateY(5px);
    color: var(--background-color);
    cursor: pointer;
    border: 1px solid var(--background-color);
}

@media (max-width: 500px) {
    h1 {
        font-size: 0.8rem;
        width: 50%;
    }
    h2 {
        font-size: 1rem;
    }
    .button {
        font-size: 0.7rem;
        height: 2rem;
    }
}