* {
    font-family: Helvetica, sans-serif;
    --main-color: #f08923;
    --second-color: #7a7a7a;
    --background-color: #ffffff;
    --text-color: #ffffff;
    --text-dark: #000000;
    --shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a {
    text-decoration: none;
}
/* From uiverse.io by @alexruix */
.card {
    min-width: 10rem;
    max-width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    padding: 1.9rem;
    margin: 1rem;
    background: var(--main-color);
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    box-shadow: var(--shadow);
}
.card-info {
    position: relative;
    z-index: 3;
    color: var(--text-color);
    opacity: 1;
    transform: translateY(20%);
    transition: 0.5s;
}
.text-title {
    font-size: 1.5rem;
    font-weight: 500;
}
.button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: var(--background-color);
    color: var(--text-dark);
    font-weight: bold;
    transition: 0.4s ease;
}
.card:hover {
    transform: translateY(5%);
}
.card:hover:before {
    opacity: 1;
}
.card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}
.button:hover {
    background: rgba(218, 77, 77, 0.4);
    color: #f5f5f5;
    cursor: pointer;
}
@media (max-width: 500px) {
    .card {
        min-width: 6rem;
        max-width: 12rem;
        height: 10rem;
    }
    .text-title {
        font-size: 1rem;
    }
    .button {
        font-size: 0.9rem;
    }
}
